.emailCell {
  padding-bottom: 3rem;
  background-color: #f2f2f2;
}

.emailCell h2 {
  animation: none;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
  color: black;
}

.emailForm {
  border-radius: 5px;
  width: 50vw;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}

.emailForm p {
  color: red;
  padding: 0.5rem 0 0.5rem 0;
}

.name,
.subject {
  width: 100%;
  height: 3rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.subject {
  height: 20vh;
}

.button {
  width: 12rem;
  transition-duration: 0.3s;
  background: transparent;
  border: solid thin black;
  color: black;
}

.button button {
  font-size: 1.3rem;
  width: 100%;
  height: 5rem;
  border: none;
  font-family: "Exo", sans-serif;
  transition-duration: 0.3s;
}

.button button:hover {
  cursor: pointer;
  background: black;
  color: #f2f2f2;
  box-shadow: 3px 3px 10px 2px rgb(160, 160, 160);
  transform:  scale(1.07);
  transition-duration: 0.3s;
}

.messageSvg {
  width: 10rem;
  transition-duration: 0.6s;
}
.messageSvg:hover {
  transition-duration: 0.6s;
  color: lightseagreen;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .alginaFoto {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  .contactsCell {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0 0 0;
    width: 95vw;
    margin: 0 auto;
  }
  .emailForm {
    margin: 0 auto;
    width: 90vw;
  }
  .button button {
    height: 6vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .emailCell h2 {
    font-size: 4rem;
  }
  .emailForm {
    width: 80vw;
  }
}
