
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 2;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  min-height: 4rem;
  height: 4rem;
  width: 100%;
  z-index: 10;
  background: transparent;
}

nav a {
  text-decoration: none;
  color: #fefefe;
  font-family:  sans-serif;
}

nav li:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition-duration: 0.3s;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 65vw;
}

nav li {
  text-decoration: none;
  list-style: none;
  transition-duration: 0.3s;
  height: 2rem;
}

a {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
}

.side-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 20px;
  top: 45%;
  z-index: 2;
}
.side-icons a {
  transition-duration: 0.3s;
  transform: scale(1.5);
  margin: 0.5rem;
}

.side-icons a:hover {
  transform: scale(1.8);
  transition-duration: 0.3s;
  color: rgb(170, 170, 100);
}

@media screen and (max-width: 480px) {
  body h1 {
    font-size: 2rem;
  }
  .desctop-nav {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  nav {
    background: transparent;
  }

  nav li {
    padding: 0;
    margin: 0 auto;
  }

  .isOpen {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }

  .side-icons {
    display: none;
  }

  .isOpen li {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  .isOpen ul {
    background: transparent;
    justify-content: space-evenly;
  }
  .isOpen a {
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
  }
}
