.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
}

.bannerSection {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 15rem;
  width: 100%;
  min-height: 90vh;
}

.bannerSection video {
  position: absolute;
  right: 0;
  top: 0%;
  height: 110%;
  z-index: -1;
}

.secondTxt {
  font-size: 1.5rem;
  color: #fefefe;
  margin: 3rem 0 0 20rem;
}

.secondTxt svg {
  transition-duration: 0.5s;
}

.secondTxt svg:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.bannerSection svg {
  color: #fefefe;
  margin: 5rem 0 0 9rem;
}

.bannerSection h1 {
  font-size: 4rem;
  animation: text 1s ease-in-out;
  color: #fefefe;
}

.bannerSection h2 {
  animation: text2 1s ease-in-out;
  color: #fefefe;
}

.bannerSection p {
  animation: btn 1s ease-in-out;
  font-family: "Exo", sans-serif;
}

.bannerSection button {
  padding: 1rem;
  width: 12rem;
  height: 5rem;
  font-size: 1.1rem;
  font-weight: 900;
  font-family: "Exo", sans-serif;
  transition-duration: 0.3s;
  background: transparent;
  color: #eaeaea;
  border: thin solid #fefefe;
  animation: btn 1s ease-in-out;
}

.bannerSection button:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  background: #eaeaea;
  color: black;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.aboutSection div {
  padding: 3rem 0 3rem 0;
}

.aboutTxt {
  transition-duration: 0.5s;
  opacity: 0;
  transform: translateX(-300px);
}

.aboutSection h2 {
  animation: none;
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
  color: black;
}

.aboutSection p {
  animation: none;
  font-size: 1.5rem;
}

.aboutSection svg {
  transition-duration: 0.5s;
}

.aboutSection svg:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
}

.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projectSection h2 {
  animation: none;
  padding: 3rem;
  font-size: 2rem;
  color: black;
}

.projectSection p {
  animation: none;
  padding: 3rem;
  font-size: 1.5rem;
}

.projectSection img {
  margin: 0 auto;
  max-width: 600px;
  max-height: 420px;
  box-shadow: 3px 3px 10px 2px rgb(197, 197, 197);
  transition-duration: 0.5s;
  opacity: 0;
  transform: translateX(-300px);
}

.projectSection a {
  display: flex;
  margin: 0 auto;
}

.projectSection img:hover {
  cursor: pointer;
}

.arrowHome {
  position:absolute;
  right: 10%;
  margin-top: 4rem;
  transition-duration: 0.5s;
}

.arrowHome:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
}

.projectGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  width: 95vw;
  padding: 3rem 0 3rem 0;
}

.projectGallery img {
  max-width: 600px;
  max-height: 420px;
}

.projectGallery a {
  color:cornflowerblue;
}

.projectGallery .projectLinks {
  width: 8rem;
  transition-duration: 0.3s;
}

.projectGallery .projectLinks:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 50vh;
}

.more button {
  padding: 1rem;
  width: 12rem;
  height: 5rem;
  font-size: 1.1rem;
  font-weight: 900;
  font-family: "Exo", sans-serif;
  transition-duration: 0.3s;
  background: transparent;
  color: black;
  border: thin solid black;
}

.more button:hover {
  cursor: pointer;
  color: white;
  background: black;
}

.footer {
  width: 100%;
  height: 5rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a {
  padding: 0 1rem 0 1rem;
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes btn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  .main {
    width: 100vw;
  }
  .bannerSection {
    padding: 1rem;
    height: 70vh;
    margin: 0 auto;
  }
  .bannerSection h1 {
    font-size: 4rem;
  }
  .bannerSection h2 {
    font-size: 2rem;
  }
  .bannerSection button {
    font-size: 2rem;
    width: 15rem;
  }
  .secondTxt {
    padding-top: 4rem;
    margin: 0 auto;
    font-size: 2rem;
    width: 100%;
  }
  .bannerSection svg {
    margin: 1rem 0 0 50%;
  }
  /* about*/
  .aboutSection {
    height: 50%;
  }
  .aboutSection h2 {
    font-size: 4rem;
  }
  .aboutSection p {
    font-size: 2rem;
    padding: 1rem;
  }
  /* projects */
  .projectGallery {
    display: flex;
    flex-direction: column;
  }
  .projectSection h2 {
    font-size: 4rem;
  }
  .projectSection p {
    font-size: 2rem;
  }
  .projectSection img {
    width: 100%;
    height: auto;
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  /* all in all good */
}


@media (min-width: 481px) and (max-width: 767px) {
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  .main {
    width: 100%;
    padding-top: 2rem;
  }
  .bannerSection {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    height: 70vh;
    width: 100vw;
  }
  .bannerSection video {
    width: 110vw;
    height: 110vh;
  }
  /* .bannerSection h1{
    font-size: 1.8rem;
  } */
  .bannerSection h2 {
    font-size: 1.2rem;
  }
  .bannerSection button {
    width: 10rem;
    height: 4rem;
    font-size: 1rem;
  }
  .bannerSection svg {
    margin: 0 0 0 50%;
  }
  .secondTxt {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  /* about */
  .aboutSection {
    text-align: center;
  }
  .aboutSection h2 {
    font-size: 1.8rem;
    padding: 0;
  }
  .aboutSection div {
    padding-top: 1rem;
  }
  /* projects */
  .projectSection img {
    width: 500px;
    height: 300px;
  }
  .projectGallery {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  .container {
    min-height: 100%;
    min-width: 10%;
  }
  .main {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  .bannerSection {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 100vw;
    height: 70vh;
  }
  .main h1 {
    font-size: 2.5rem;
  }
  .main h2 {
    font-size: 1.5rem;
  }
  .bannerSection svg {
    margin: 2rem 0 0 0;
  }
  .aboutSection div{
    width: 90vw;
  }
  .aboutSection svg {
    margin-bottom: 3rem;
  }
  
  .projectGallery {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .projectGallery img {
    width: 100%;
    height: 250px;
  }
  .secondTxt {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
  }
  .arrowHome {
    margin-top: 3.5rem;
  }

  .more {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 20vh;
    padding-bottom: 3rem;
  }
  .more p {
    padding: 1rem;
  }
  .footer {
    display: flex;
    width: 100vw;
  }
}
